<div class="form-group">
    <label>Модель</label>
    <input type="text" [(ngModel)]="device.name" class="form-control" />
</div>
<div class="form-group">
    <label>Производитель</label>
    <input type="text" [(ngModel)]="device.company" class="form-control" />
</div>
<div class="form-group">
    <label>Переменные</label>
    <input type="text" [(ngModel)]="device.info" class="form-control" />
</div>
<div class="form-group">
    <label>Категория</label>
    <input type="text" [(ngModel)]="device.category" class="form-control" />
</div>
<div class="form-group">
    <label>Комната</label>
    <input type="text" [(ngModel)]="device.room" class="form-control" />
</div>
<div class="form-group">
    <label>Вкл./Выкл.</label>
    <input type="checkbox" [(ngModel)]="device.power" class="form-control" />
</div>